// Override this file to add your own SCSS styling.
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
  font-weight: 160;
}

.home-section {
    padding: 20px 0 20px 0;
  }
  
.container {
    max-width: 85%;
}
